<app-nav></app-nav>
<app-products></app-products>


<!-- <hr>
<p><input type="text" [(ngModel)]="imgParent"/></p>
<app-img *ngIf="showImagen" (loaded)="onLoaded($event)"  [img]="imgParent"></app-img>
<button (click)="toggleImagen()">Toggle Imagen</button>
<h1>{{showImagen}}</h1> -->
<!-- <hr>
<h1>*ngFor Objetos</h1>
<div class="product--grid">
    <div *ngFor="let product of products">
        <img class='img' [src]="product.image" alt="bandolero_001">
        <h2>{{product.name_product}}</h2>
        <p>{{product.price}}</p>

    </div>
</div> -->

<<!-- h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>
<ul>
    <li *ngFor="let name of hermana; index as i">
        {{i}} {{name}}
        <button (click)="deleteName(i)">Delete</button>
    </li>
</ul>
<h1>*ngIf</h1>
<input type="text" [(ngModel)]="name"/>
<p *ngIf="name === 'Keiry'; else mensaje">Correcto estas en lo cierto</p>
<ng-template #mensaje>
    <p>Tu nombre no es Keiry</p>
</ng-template>
<hr>
<p>Nombre: {{name}}</p>
<input type="text" [(ngModel)]="name"/>
<hr>
<h1>Eventos</h1>
<button [disabled]="btndisabled">enviar</button>
<button (click)="toggleButton()">toggel button</button>
<p>edad {{age}}</p>
<button (click)="increaseAge()">Incrementar Edad</button>
<progress max="100" [value]="age"></progress>
<hr>
<div class="box" (scroll)="onScroll($event)">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi molestias, ab quibusdam earum amet in quam ducimus itaque libero placeat voluptatum, molestiae quidem vitae facilis cupiditate dolorum quisquam atque repellendus?</p>
</div>
<p>Nombre: {{name}}</p>
<input type="text" [value]="name" (keyup)="changeName($event)"/>
<hr/>
<h1>Propiedades</h1>
<input type="text" [value]="name"/>
<button [disabled]="btndisabled">enviar</button>
<hr/>
<h1>Hola Mundo</h1>
<h2>{{name}}</h2> -->
<!--<img width='100' src={{img2}} alt="imagen">   -->

