<div class="show-mobile">
  <div>
    <button>
      <img width="20px" src="../../../assets/images/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img src="../../../assets/images/logo_yard_sale.svg" alt="logo" />
    </a>
    <a href="">
      <img
        src="../../../assets/images/icon_shopping_cart.svg"  alt="carrito" />
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a href="">
        <img
          width="40px"
          src="../../../assets/images/logo_yard_sale.svg"
          alt="Logo"
        />
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div clas=" account">key_andreina@hotmail.com</div>
      <a href="">
        <img
          width="40px"
          src="../../../assets/images/icon_shopping_cart.svg"
          alt="Logo"
        />
      </a>
    </div>
  </div>
</div>
